<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.omegacentauri.xaspect"
    android:versionCode="7"
    android:versionName="0.02" >

    <!-- <uses-permission android:name="android.permission.ACCESS_SUPERUSER" /> -->

    <application android:label="XAspect" android:icon="@drawable/icon">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Adjust aspect ratio of app" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <activity android:name=".Apps"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="XAspect"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        </application>

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

</manifest>